@page "/nuevocaso"

@inject HttpClient Http

<h1 class="text-center">Nuevo Caso de Covid19</h1>

<div class="row m-3">
    <div class="col-md-6 m-auto">
        <h4>Agregar un nuevo caso</h4>
        <EditForm Model="@Model" OnValidSubmit="@GuardarCaso">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label>Fecha del Caso</label>
                <InputDate class="form-control" @bind-Value="Model.Fecha" />
            </div>
            <div class="form-group">
                <label>Edad</label>
                <InputNumber class="form-control" @bind-Value="Model.Edad" />
            </div>
            <div class="form-group">
                <label>Genero</label>
                <InputSelect class="form-control" @bind-Value="@Model.Genero">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </InputSelect>
            </div>
            <div class="form-group">
                <label>Provincia</label>
                <InputText class="form-control" @bind-Value="Model.Provincia" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Registrar Caso</button>
        </EditForm>
    </div>
</div>

@code {
    // Objeto de tipo CasoViewModel que capturará la información para
    // enviarla al modelo de datos y realizar el registro.
    // Se inicializa con algunos atributos por defecto a modo de facilitar algunas validaciones.
    public CasoViewModel Model = new CasoViewModel { Fecha = DateTime.Now, Genero = "M", Edad = 0 };

    // Metodo asíncrono para guardar un nuevo caso de Covid.
    // Luego de realizar la operación, se llamará al método para limpiar los campos.
    async Task GuardarCaso()
    {
        await Http.PostAsJsonAsync<CasoViewModel>("covid/update", Model);

        LimpiarCampos();
    }

    // Metodo para resetear los valores de cada campo del modelo.
    void LimpiarCampos()
    {
        Model.Fecha = DateTime.Now;
        Model.Edad = 0;
        Model.Genero = "M";
        Model.Provincia = "";
    }
}
